/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  z-index: 2000;
}

#nprogress .bar {
  background: #2ea195;

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #2ea195, 0 0 5px #2ea195;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

a {
  text-decoration: none;
  color: inherit;
}

.nestable {
  position: relative;
}
.nestable .nestable-list {
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
}
.nestable > .nestable-list {
  padding: 0;
}
.nestable-item,
.nestable-item-copy {
  margin: 0px 0 0;
}
.nestable-item:first-child,
.nestable-item-copy:first-child {
  margin-top: 0;
}
.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
  margin-top: 10px;
}
.nestable-item {
  position: relative;
}
.nestable-item.is-dragging .nestable-list {
  pointer-events: none;
}

.nestable-item.is-dragging * {
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
}

.nestable-item.is-dragging:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c0e3df; /* primary.light */
  border: 1px dashed #2ea195; /* primary.main */
  border-radius: 5px;
}

.nestable-item-icon {
  margin-right: 5px;
  cursor: pointer;
}

.nestable-drag-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}
.nestable-drag-layer > .nestable-list {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.splide__track {
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-to-cart-button {
  color: #fff;
  padding: 12px 25px !important;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  border-radius: 0px 26px !important;
}

@media (max-width: 910px) {
  .responsiveShippingSpanIcon {
    font-size: '24px';
    line-height: '16px';
  }
}

@media (min-width: 1200px) {
  .mui-style-1b3l6lk-MuiGrid-root {
    max-width: 100% !important;
  }
}
@media (min-width: 1536px) {
  .mui-style-1b3l6lk-MuiGrid-root {
    max-width: 100% !important;
  }
}
.breadcrumb-linkStyle {
  text-decoration: none;
  color: inherit;
}
.breadcrumb-linkStyle.underline {
  text-decoration: underline;
}
.breadcrumb-linkStyle:hover {
  text-decoration: none;
}
/**** ALGOLIA CSS ***/
/* styles/globals.css or a dedicated CSS module */

/* Style the input container */
.search-container {
  position: relative; /* For positioning the panel */
  width: 400px; /* Adjust as needed */
}

/* Style the autocomplete input */
.aa-Autocomplete .aa-Input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  /* Add your color customizations here */
  background-color: #f9f9f9;
  color: #333;
  border: none;
}

.aa-Autocomplete .aa-Input:focus {
  outline: none;
  border-color: #007bff; /* Example focus color */
  box-shadow: none;
}

/* Style the autocomplete panel */
.autocomplete-panel {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* For the two-column layout */
  z-index: 10; /* Ensure it's above other elements */
}

.autocomplete-panel .left-column {
  flex: 1;
  padding: 15px;
  border-right: 1px solid #eee;
}

.autocomplete-panel .right-column {
  flex: 2;
  padding: 15px;
}

.autocomplete-panel h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.autocomplete-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete-panel li {
  padding: 8px 0;
  cursor: pointer;
}

.autocomplete-panel li:hover {
  background-color: #f0f0f0;
}

/* Style the product and article hits */
.product-hit {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.product-hit img {
  margin-right: 10px;
}

.product-name {
  font-weight: bold;
}

.article-hit {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.article-hit:last-child {
  border-bottom: none;
}

/*** Algolia css start  ***/
#autocomplete {
  display: flex;
  width: 100%;
}
.aa-Autocomplete {
  margin: 0 auto !important;
}
.aa-Autocomplete .aa-Form {
  border-radius: 9px !important;
  box-shadow: none;
  height: 27px;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: none;
  outline: none;
}
.aa-Autocomplete .aa-Form:focus,
#autocomplete .aa-Form:focus-within {
  outline: none !important;
  box-shadow: none !important;
}
.aa-Autocomplete .aa-InputWrapperPrefix:focus {
  outline: none !important;
  box-shadow: none !important;
}
.aa-Autocomplete .aa-InputWrapper:focus {
  outline: none !important;
  box-shadow: none !important;
}
.aa-Autocomplete .aa-InputWrapperSuffix:focus {
  outline: none !important;
  box-shadow: none !important;
}

.aa-Autocomplete .aa-Input {
  width: 543px !important;
  box-shadow: none !important;
  height: 22px;
  background-color: #fff;
  color: #020027;
  border-radius: 9px !important;
  border: none;
}
.aa-Autocomplete .aa-Input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.aa-Autocomplete .aa-SubmitButton {
  margin: 2px 0px;
}
.aa-Form:focus-within {
  box-shadow: none;
}
/* Add more specific styling as needed */
.aa-PanelLayout.aa-Panel--scrollable {
  display: grid;
  grid-template-columns: 23% 77%; /* 2 equal columns */
  grid-auto-rows: auto; /* auto height rows */
  /*grid-template-rows: 200px auto; */
  gap: 10px; /* spacing between items */
  position: relative;
}

/* section 1: first column, first row */
.aa-PanelLayout.aa-Panel--scrollable > section[data-autocomplete-source-id='querySuggestions'] {
  grid-column: 1;
  grid-row: 1;
}
.aa-PanelLayout.aa-Panel--scrollable > section[data-autocomplete-source-id='popularPlugin'] {
  grid-column: 1;
  grid-row: 1;
}
/* section 2: first column, second row */
.aa-PanelLayout.aa-Panel--scrollable
  > section[data-autocomplete-source-id='querySuggestions']
  + section[data-autocomplete-source-id='popularPlugin'] {
  /* grid-column: 1;
  grid-row: 2;*/
  width: 23%;
  position: absolute;
  /*top: -140px;*/
  top: 265px;
}

/* section 3: second column, first row */
.aa-PanelLayout.aa-Panel--scrollable > section[data-autocomplete-source-id='products'] {
  grid-column: 2;
  grid-row: 1;
  height: 400px;
}
.aa-PanelLayout.aa-Panel--scrollable > section[data-autocomplete-source-id='builder-page'] {
  grid-column: 2;
  grid-row: 1;
}

/* section 4: second column, second row */
.aa-PanelLayout.aa-Panel--scrollable
  > section[data-autocomplete-source-id='products']
  + section[data-autocomplete-source-id='builder-page'] {
  grid-column: 2;
  grid-row: 2;
}

.aa-PanelLayout.aa-Panel--scrollable
  section[data-autocomplete-source-id='querySuggestions']
  .aa-ItemContentTitle,
.aa-PanelLayout.aa-Panel--scrollable
  section[data-autocomplete-source-id='popularPlugin']
  .aa-ItemContentTitle {
  font-size: 14px;
  color: #30299a;
}

/* Optional visual styling */
.aa-PanelLayout.aa-Panel--scrollable > section {
  padding: 10px;
  background: #fff;
  border-radius: 4px;
}
.aa-Panel {
  position: fixed !important;
  top: 33px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: 1185px !important;
  max-height: 600px;
  overflow-y: auto;
  border: none;
  background: white;
  z-index: 9999;
  border-radius: 0;
  height: 600px;
}
[data-autocomplete-source-id='querySuggestions'] .aa-List .aa-Item,
[data-autocomplete-source-id='querySuggestions'] .aa-ItemActions .aa-ItemActionButton svg,
[data-autocomplete-source-id='querySuggestions'] .aa-ItemIcon {
  color: #30299a;
}
[data-autocomplete-source-id='querySuggestions'] .aa-List .aa-Item[aria-selected='true'] {
  background: #e3e2ff;
}
[data-autocomplete-source-id='popularPlugin'] .aa-List .aa-Item[aria-selected='true'],
[data-autocomplete-source-id='products'] .aa-List .aa-Item[aria-selected='true'],
[data-autocomplete-source-id='builder-page'] .aa-List .aa-Item[aria-selected='true'] {
  background: none;
}
[data-autocomplete-source-id='querySuggestions'] .aa-ItemContentTitle mark {
  color: #30299a;
  font-weight: 500;
}

.aa-products-see-all {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #30299a;
  font-family: 'Poppins', sans-serif;
  padding: 10px 25px;
  border: none;
  line-height: 18px;
  border-radius: 0 18px 0 18px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #fff;
}

.aa-products-see-all:hover {
  background-color: #4c47c4;
  border: 1px solid #4c47c4;
}
.aa-builder-see-all {
  font-size: 14px;
  font-weight: 600;
  color: #30299a;
  text-decoration: underline;
}
.aa-builder-see-all span {
  display: none;
}
.aa-products-header h4,
.aa-suggestion-header h4,
.aa-popular-header h4,
.aa-builder-header h4,
.aa-quickAccess-header h4,
.aa-SourceHeader h4 {
  font-size: 16px;
  font-weight: 500;
  color: #020027;
  margin: 0 0 15px;
  line-height: 20px;
  padding: 0;
}
[data-autocomplete-source-id='products'] .aa-products-header,
[data-autocomplete-source-id='builder-page'] .aa-builder-header,
[data-autocomplete-source-id='popularPlugin'] .aa-popular-header,
[data-autocomplete-source-id='querySuggestions'] .aa-suggestion-header,
[data-autocomplete-source-id='quickAccessPlugin'] .aa-quickAccess-header {
  display: block;
}
[data-autocomplete-source-id='products'] .aa-builder-header,
[data-autocomplete-source-id='products'] .aa-popular-header,
[data-autocomplete-source-id='products'] .aa-suggestion-header,
[data-autocomplete-source-id='products'] .aa-quickAccess-header,
[data-autocomplete-source-id='builder-page'] .aa-products-header,
[data-autocomplete-source-id='builder-page'] .aa-popular-header,
[data-autocomplete-source-id='builder-page'] .aa-suggestion-header,
[data-autocomplete-source-id='builder-page'] .aa-quickAccess-header,
[data-autocomplete-source-id='popularPlugin'] .aa-products-header,
[data-autocomplete-source-id='popularPlugin'] .aa-builder-header,
[data-autocomplete-source-id='popularPlugin'] .aa-suggestion-header,
[data-autocomplete-source-id='popularPlugin'] .aa-quickAccess-header,
[data-autocomplete-source-id='querySuggestions'] .aa-products-header,
[data-autocomplete-source-id='querySuggestions'] .aa-builder-header,
[data-autocomplete-source-id='querySuggestions'] .aa-popular-header,
[data-autocomplete-source-id='querySuggestions'] .aa-quickAccess-header,
[data-autocomplete-source-id='quickAccessPlugin'] .aa-products-header,
[data-autocomplete-source-id='quickAccessPlugin'] .aa-builder-header,
[data-autocomplete-source-id='quickAccessPlugin'] .aa-popular-header {
  display: none;
}

/* article section start builder page*/
.aa-ItemTitleLink {
  font-size: 13px;
  color: #020027;
  font-weight: 500;
  text-decoration: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-autocomplete-source-id='builder-page'] .aa-Item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #e3e2ff;
  border-radius: 0 0 30px 0;
  background: #fff;
  width: 250px;
  height: 80px;
  margin-bottom: 10px;
}
[data-autocomplete-source-id='builder-page'] .aa-Item:hover {
  box-shadow: rgba(11, 32, 61, 0.07) 0px 2px 16px 4px;
  border-color: #4c47c4;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
[data-autocomplete-source-id='builder-page'] .aa-Item .material-symbols-outlined {
  font-size: 42px;
  color: #fff;
}

[data-autocomplete-source-id='builder-page'] .aa-ItemContent .aa-ItemImage,
.aa-ItemImageWrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #30299a; /* This can be overridden dynamically with JS if needed */
  border-radius: 0;
  flex-shrink: 0;
}
[data-autocomplete-source-id='builder-page'] .aa-List .aa-ItemTitle {
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #020027;
}
[data-autocomplete-source-id='builder-page'] {
  width: 100%;
  display: flex;
  flex-direction: column;
}
[data-autocomplete-source-id='builder-page'] .aa-SourceHeader {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  line-height: 18px;
}

[data-autocomplete-source-id='builder-page'] .aa-List {
  width: 85%;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  align-items: flex-start;
}

/* Make the footer display inline and take 25% */
[data-autocomplete-source-id='builder-page'] .aa-SourceFooter {
  width: 15%;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

section[data-autocomplete-source-id='builder-page'] {
  position: relative;
  height: 150px;
}

/** ****Builder section end **/
/** ****Products section start **/
[data-autocomplete-source-id='products'] .aa-List {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
}
[data-autocomplete-source-id='products'] .aa-List .aa-Item {
  padding: 0;
}
[data-autocomplete-source-id='products'] .aa-List .aa-Item:hover {
  background: none;
}
[data-autocomplete-source-id='products'] .aa-List .aa-Item[area-selcted='true'] {
  background: none;
}
[data-autocomplete-source-id='products'] .aa-CustomCard {
  padding: 5px 10px;
  border: 1px solid #e3e2ff;
  border-radius: 0 0 30px 0;
  background: #fff;
  width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
[data-autocomplete-source-id='products'] .aa-CustomCard:hover {
  box-shadow: rgba(11, 32, 61, 0.07) 0px 2px 16px 4px;
  border: 1px solid #4c47c4;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

[data-autocomplete-source-id='products'] .aa-NewTag {
  width: 80px;
  height: 41px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

[data-autocomplete-source-id='products'] .aa-CardImageLink {
  display: grid;
  width: 100%;
  text-align: center;
}

[data-autocomplete-source-id='products'] .aa-CardImage {
  width: 120px;
  height: 100px;
  object-fit: contain;
  border: none;
  margin: 0 auto;
}

[data-autocomplete-source-id='products'] .aa-CardBrand {
  font-size: 13px;
  color: #020027;
  line-height: 18px;
  margin: 10px 0;
}

[data-autocomplete-source-id='products'] .aa-CardTitle {
  font-size: 14px;
  color: #020027;
  font-weight: 500;
  margin: 10px 0;
  text-decoration: none;
}

[data-autocomplete-source-id='products'] .aa-CardSku {
  font-size: 14px;
  color: #020027;
  line-height: 18px;
  margin: 10px 0;
}
/** ****Products section end **/

/**** POPULAR PLUGIN CSS ****/
[data-autocomplete-source-id='popularPlugin'] .aa-List {
  display: block;
  padding-bottom: 12px;
}
[data-autocomplete-source-id='popularPlugin'] .aa-List .aa-Item {
  display: inline-block;
}
[data-autocomplete-source-id='popularPlugin'] .aa-List .aa-Item:hover,
[data-autocomplete-source-id='popularPlugin'] .aa-List .aa-Item[area-selcted='true'] {
  background: none;
}
[data-autocomplete-source-id='popularPlugin'] .aa-ItemContentTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #30299a;
  border-radius: 0px 15px 0px 15px;
  background: #fff;
  padding: 7px 12px;
  color: #30299a;
  width: auto;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
[data-autocomplete-source-id='popularPlugin'] .aa-ItemContentTitle:hover {
  background-color: #e3e2ff;
  color: #30299a;
  border: 1px solid #e3e2ff;
  border-radius: 0px 15px 0px 15px;
}

.aa-DetachedSearchButton .aa-DetachedSearchButtonPlaceholder {
  display: block;
}
@media (max-width: 910px) {
  .aa-Panel {
    width: auto !important;
    top: 0 !important;
    position: relative !important;
  }
  .aa-PanelLayout.aa-Panel--scrollable {
    grid-template-columns: auto;
    display: block;
  }
  /* .aa-PanelLayout.aa-Panel--scrollable > section:nth-child(1) {
    display: block;
  } */
  .aa-PanelLayout.aa-Panel--scrollable
    > section[data-autocomplete-source-id='querySuggestions']
    + section[data-autocomplete-source-id='popularPlugin'] {
    display: block;
    width: auto;
    position: relative;
    top: 0;
  }
  section[data-autocomplete-source-id='querySuggestions'] {
    margin-top: 12px;
  }
  .aa-DetachedSearchButton {
    border: none !important;
  }
  .aa-DetachedSearchButton .aa-DetachedSearchButtonIcon {
    color: #30299a;
  }
  .aa-DetachedSearchButton .aa-DetachedSearchButtonPlaceholder {
    display: none;
  }
  .aa-PanelLayout.aa-Panel--scrollable > section {
    padding: 0 10px 15px;
  }
  [data-autocomplete-source-id='popularPlugin'] .aa-List,
  [data-autocomplete-source-id='products'] .aa-List,
  [data-autocomplete-source-id='builder-page'] .aa-List,
  [data-autocomplete-source-id='quickAccessPlugin'] .aa-List {
    flex-wrap: nowrap;
    scroll-snap-type: x;
    overflow-x: scroll;
    scrollbar-color: #ddd #ddd;
    scrollbar-width: thin;
    flex-direction: row;
    row-gap: var(--aa-spacing);
    gap: 12px;
    display: flex;
  }
  [data-autocomplete-source-id='popularPlugin'].aa-Source {
    margin-bottom: 12px;
  }
  [data-autocomplete-source-id='popularPlugin'] .aa-List {
    padding: 0;
  }
  [data-autocomplete-source-id='popularPlugin'] .aa-ItemContentTitle {
    margin-right: 0;
  }
  ::-webkit-scrollbar {
    display: block;
  }
  .aa-PanelLayout.aa-Panel--scrollable > section[data-autocomplete-source-id='products'] {
    height: 378px;
    margin-bottom: 12px;
  }
  [data-autocomplete-source-id='builder-page'] .aa-List {
    width: 100%;
  }
  [data-autocomplete-source-id='builder-page'] .aa-List .aa-ItemContent {
    width: 200px;
  }
  [data-autocomplete-source-id='builder-page'] .aa-SourceFooter {
    position: static;
    width: auto;
  }
  [data-autocomplete-source-id='products'] .aa-List {
    overflow: auto;
    scroll-snap-type: x;
    padding-bottom: 10px;
  }
  [data-autocomplete-source-id='products'] .aa-Item {
    scroll-snap-align: start;
    padding: 0;
  }
  .aa-DetachedSearchButtonQuery {
    display: none;
  }
  .ais-Panel-header span {
    font-size: 14px;
  }
}

/*** quick access plugin css  ****/
[data-autocomplete-source-id='quickAccessPlugin'] .aa-List {
  display: flex;
  gap: 10px;
}
[data-autocomplete-source-id='quickAccessPlugin'] .aa-ItemWrapper {
  margin: 0 10px;
  border: 2px solid transparent;
}
[data-autocomplete-source-id='quickAccessPlugin'] .aa-ItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 350px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
[data-autocomplete-source-id='quickAccessPlugin'] .aa-ItemIcon {
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
  border: none;
  box-shadow: none;
  background: none;
}
[data-autocomplete-source-id='quickAccessPlugin'] .aa-ItemContentTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
/* Color variants */
[data-autocomplete-source-id='quickAccessPlugin'] .light-grey {
  background-color: #ededed;
  color: #30299a;
}
[data-autocomplete-source-id='quickAccessPlugin'] .light-purple {
  background-color: #e3e2ff;
  color: #30299a;
}
[data-autocomplete-source-id='quickAccessPlugin'] .dark-purple {
  background-color: #30299a;
  color: #fff;
}
.ais-RefinementList {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.ais-RefinementList-list {
  padding-left: 0;
  margin-left: 0;
}

.ais-RefinementList-item {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.ais-RefinementList-label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 0;
}
.no-style-list {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.no-style-item {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.refinement-label {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.563rem;
}
.ais-RefinementList-showMore {
  background-color: #fff;
  border: none;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 300;
}

.product-list-view .ais-Hits-list {
  list-style: none;
}

@media (max-width: 640px) {
  .product-list-view .ais-Hits-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .product-grid-view .ais-Hits-list {
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.product-list-view .ais-Hits-list .ais-Hits-item {
  margin-bottom: 20px;
}

@media (min-width: 640px) {
  .product-grid-view {
    margin-left: 20px;
  }
}
.product-grid-view .ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1040px) and (min-width: 641px) {
  .product-grid-view .ais-Hits-list {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

/* Mobile View: max-width 680px */
@media (max-width: 680px) {
  .product-grid-view .ais-Hits-list .ais-Hits-item:nth-child(3n + 1),
  .product-grid-view .ais-Hits-list .ais-Hits-item:nth-child(3n + 2),
  .product-grid-view .ais-Hits-list .ais-Hits-item:nth-child(3n + 3) {
    justify-self: center;
  }
}

/* Desktop View: min-width 1028px */
@media (min-width: 1028px) {
  .product-grid-view .ais-Hits-list .ais-Hits-item:nth-child(3n + 1) {
    justify-self: start;
  }

  .product-grid-view .ais-Hits-list .ais-Hits-item:nth-child(3n + 2) {
    justify-self: center;
  }

  .product-grid-view .ais-Hits-list .ais-Hits-item:nth-child(3n + 3) {
    justify-self: end;
  }
}

.AlgoliaPagination .ais-Pagination-list {
  font-family: 'Poppins';
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.AlgoliaPagination .ais-Pagination-link {
  color: #30299a;
  font-family: 'Poppins';
  font-size: 18px;
  border: none;
  background: none;
  padding: 3px;
  cursor: pointer;
  font-weight: 300;
}

.AlgoliaPagination .ais-Pagination-link :hover {
  text-decoration: underline;
  color: #30299a;
}
.AlgoliaPagination .ais-Pagination-item--page {
  font-size: 18px;
  color: #4c47c4;
}
.AlgoliaPagination .ais-Pagination-item--selected,
.AlgoliaPagination .ais-Pagination-item--selected .ais-Pagination-link {
  padding: 3px;
  font-weight: 500;
  color: #30299a;
}
/** search page css **/
.rightSearchContainer .AvailableProducts {
  padding-bottom: 8px;
  margin-top: 1.5rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: Poppins;
  white-space: nowrap;
  color: #020027;
  font-style: normal;
  text-align: right;
}
.rightSearchContainer .product-grid-view .productviewstructure {
  display: grid;
  @media (max-width: 640px) {
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @media (max-width: 1040px) and (min-width: 641px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.rightSearchContainer .product-grid-view .productviewstructure .productviewlistItem {
  margin-bottom: 25px;
}

.rightSearchContainer .product-list-view .productviewstructure .productviewlistItem {
  margin-bottom: 25px;
}
.rightSearchContainer .product-list-view .productviewstructure {
  width: 100% !important;
  @media (max-width: 680px) {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

.rightSearchContainer
  .product-grid-view
  .productviewstructure
  .productviewlistItem:nth-child(3n + 1) {
  @media (max-width: 680px) {
    justify-self: center;
  }
}
.rightSearchContainer
  .product-grid-view
  .productviewstructure
  .productviewlistItem:nth-child(3n + 1) {
  @media (min-width: 1028px) {
    justify-self: start;
  }
}
.rightSearchContainer
  .product-grid-view
  .productviewstructure
  .productviewlistItem:nth-child(3n + 2) {
  @media (min-width: 1028px) {
    justify-self: center;
  }
}
.rightSearchContainer
  .product-grid-view
  .productviewstructure
  .productviewlistItem:nth-child(3n + 2) {
  @media (max-width: 680px) {
    justify-self: center;
  }
}
.rightSearchContainer
  .product-grid-view
  .productviewstructure
  .productviewlistItem:nth-child(3n + 3) {
  @media (min-width: 1028px) {
    justify-self: end;
  }
}
.rightSearchContainer
  .product-grid-view
  .productviewstructure
  .productviewlistItem:nth-child(3n + 3) {
  @media (max-width: 680px) {
    justify-self: center;
  }
}
.rightSearchContainer .AlgoliaPagination {
  margin-top: 30px;
}
.searchProductsTitle {
  font-weight: 500;
  font-size: 40px;
  color: #30299a;
  font-family: 'Poppins';
  line-height: 2.625rem;
  margin-top: 25px;
  @media (max-width: 680px) {
    font-size: 30px;
  }
}
.searchListingContainer {
  display: flex;
  font-size: 16px;
  font-family: 'Poppins';
  width: 100%;
}
.searchListingContainer .rightSearchContainer {
  width: 83%;
  @media (max-width: 680px) {
    width: 100%;
  }
}
.searchListingContainer .facetContainer {
  width: 17%;
  padding: 20px 0;
  background-color: transparent;
  position: static;
  z-index: auto;
  height: auto;
  box-shadow: none;
  @media (max-width: 680px) {
    width: 0%;
  }
}

.gridListViewContainer {
  display: flex;
  justify-content: space-between;
}

.gridListViewContainer .sortDropdownContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  @media (max-width: 680px) {
    margin-top: 0;
  }
}
.sortDropdownContainer span {
  color: #020027;
  white-space: nowrap;
  margin-right: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 3px 0;
  @media (max-width: 680px) {
    display: none;
  }
}
.sortDropdownContainer .sortDropdown {
  color: #020027;
  white-space: nowrap;
  margin-right: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-height: 1.4375em;
}
.sortDropdown .MuiMenuItem-root,
.sortSearchItem {
  padding: 6px 16px !important;
  font-size: 14px !important;
  color: #020027 !important;
  transition: background-color 0.3s ease !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.sortDropdown .MuiSelect-icon {
  color: #020027;
}
.sortDropdownContainer fieldset {
  border: none;
}
.sortDropdown legend {
  display: none;
}
.sortWrapper {
  display: flex;
  flex-direction: row !important;
}
.FacetsInnerContainer .ais-Panel .ais-Panel-body {
  padding: 0px 0px 8px 0px !important;
}

.FacetsInnerContainer .ais-Panel .ais-Panel-body span {
  font-size: 14px !important;
}
